/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --accent: var(--cyan);
  --mild-accent: #5b7c79;
  --hard-accent: var(--hard-cyan);

  --alt-accent: var(--orange);
  --alt-mild-accent: #bf4b0c;
  --alt-hard-accent: var(--hard-orange);

  --red: #FB4934;
  --hard-red: #9d0006;
  --orange: #FE8019;
  --hard-orange: #af3a03;
  --yellow: #FABD2F;
  --hard-yellow: #b57614;
  --green: #B8BB26;
  --hard-green: #79740e;
  --cyan: #83A598;
  --hard-cyan: #076678;
  --purple: #D3869B;
  --hard-purple: #8f3f71;
  --hard-gray: #313131;
  --gray: #8A8A8A;
  --soft-gray: #B8B8B8;
  --soft-white: #FBFBFB;
  --white: #FFFFFF;

  --softer-shadow-white: #e3e3e3;
  --soft-shadow-white: #e6e6e6; 
  --mid-shadow-white: #c3c3c3;
  --hard-shadow-white: #b8b8b8;
}  

.books{
  color: var(--red);
}

.series{
  color: var(--yellow)
}

.manga{
  color: var(--orange);
}

.anime{
  color: var(--green);
}

.games{
  color: var(--cyan);
}

.movies{
  color: var(--purple);
}