.home-media-sect {
	padding-right: 3vw;
	padding-left: 3vw;
	border-radius: 0.8rem;
	margin: 1vw;
  margin-top: 2vw;
	padding-bottom: 2.3vw;
	background-color: var(--accent);
}

.home-media-sect .list-element {
	margin-top: 2vh;
	background-color: var(--soft-white);
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: -8px -8px 16px var(--accent), 8px 8px 16px var(--mild-accent);
}

.home-media-sect .dropdown-container {
	box-shadow: 8px 8px 16px var(--mild-accent);
	clip-path: inset(0px -100px -100px 0px);
}


.sect-title {
	font-weight: 700;
	text-transform: capitalize;
}

.sect-found {
	font-weight: 300;
	font-size: 1em;
	font-style: italic;
	margin-left: 1vw;
}

.sect-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	fill: white;
}

.sect-title-space {
	margin-top: 1rem;
	margin-right: 1rem;
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
}

.filter-button {
	all: unset;
	font-family: "Poppins";
	background-color: var(--soft-white);
	color: var(--hard-gray);
	border-radius: 20rem;
	padding-left: 1vw;
	cursor: pointer;
	padding-right: 1vw;
	box-shadow: 8px 8px 16px var(--hard-accent), -8px -8px 16px var(--accent);

	-webkit-font-smoothing: antialiased;
}

b {
	font-weight: 600;
	text-decoration: underline;
	padding-left: 0.2vw;
	padding-right: 0.2vw;
	color: var(--hard-accent);
}

i {
	font-weight: 600;
}

.sect-found b {
	color: var(--white);
}
