.books-home-media-sect {
    padding-right: 3vw;
    padding-left: 3vw;
    box-shadow: inset 20px 20px 60px var(--hard-red),
            inset -20px -20px 60px var(--red);
    border-radius: 1rem;
    margin: 2vw;
    padding-bottom: 2.3vw;
    background-color: var(--red);
  }

.manga-home-media-sect {
  padding-right: 3vw;
  padding-left: 3vw;
  box-shadow: inset 20px 20px 60px var(--hard-orange),
          inset -20px -20px 60px var(--orange);
  border-radius: 1rem;
  margin: 2vw;
  padding-bottom: 2.3vw;
  background-color: var(--orange);
}

.series-home-media-sect {
  padding-right: 3vw;
  padding-left: 3vw;
  box-shadow: inset 20px 20px 60px var(--hard-yellow),
          inset -20px -20px 60px var(--yellow);
  border-radius: 1rem;
  margin: 2vw;
  padding-bottom: 2.3vw;
  background-color: var(--yellow);
}

.anime-home-media-sect {
  padding-right: 3vw;
  padding-left: 3vw;
  box-shadow: inset 20px 20px 60px var(--hard-green),
          inset -20px -20px 60px var(--green);
  border-radius: 1rem;
  margin: 2vw;
  padding-bottom: 2.3vw;
  background-color: var(--green);
}

.games-home-media-sect {
  padding-right: 3vw;
  padding-left: 3vw;
  box-shadow: inset 20px 20px 60px var(--hard-cyan),
          inset -20px -20px 60px var(--cyan);
  border-radius: 1rem;
  margin: 2vw;
  padding-bottom: 2.3vw;
  background-color: var(--cyan);
}

.movies-home-media-sect {
  padding-right: 3vw;
  padding-left: 3vw;
  box-shadow: inset 20px 20px 60px var(--hard-purple),
          inset -20px -20px 60px var(--purple);
  border-radius: 1rem;
  margin: 2vw;
  padding-bottom: 2.3vw;
  background-color: var(--purple);
}

.books-home-media-sect .list-element{
    margin-top: 2vh;
    background-color: var(--soft-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  8px 8px 16px var(--hard-red),
               -8px -8px 16px var(--red);
  }

  .manga-home-media-sect .list-element{
    margin-top: 2vh;
    background-color: var(--soft-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  8px 8px 16px var(--hard-orange),
               -8px -8px 16px var(--orange);
  }

  .series-home-media-sect .list-element{
    margin-top: 2vh;
    background-color: var(--soft-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  8px 8px 16px var(--hard-yellow),
               -8px -8px 16px var(--yellow);
  }

  .anime-home-media-sect .list-element{
    margin-top: 2vh;
    background-color: var(--soft-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  8px 8px 16px var(--hard-green),
               -8px -8px 16px var(--green);
  }
  
  .games-home-media-sect .list-element{
    margin-top: 2vh;
    background-color: var(--soft-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  8px 8px 16px var(--hard-cyan),
               -8px -8px 16px var(--cyan);
  }

  .movies-home-media-sect .list-element{
    margin-top: 2vh;
    background-color: var(--soft-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  8px 8px 16px var(--hard-purple),
               -8px -8px 16px var(--purple);
  }

.sect-title {
    font-weight: 700;
    margin-left: 1vw;
    text-transform: capitalize;
}

.sect-found{
    font-weight: 300;
    font-size: 1em;
    font-style: italic;
    margin-left: 1vw;
}

.sect-close-dot{
    height: 2.3vh;
    width: 2.3vh;
    transform: rotate(90deg);
}

.sect-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    fill: white;
}

.sect-title-space{
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.books-home-media-sect .filter-button{
    all:unset;
    font-family: "Poppins";
    background-color: var(--soft-white);
    color: var(--hard-gray);
    border-radius: 20rem;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow:  12px 12px 20px var(--hard-red),
    -12px -12px 20px var(--red);
    transition: box-shadow 0.2s ease-in-out;
    
    -webkit-font-smoothing:antialiased;
}

.manga-home-media-sect .filter-button{
    all:unset;
    font-family: "Poppins";
    background-color: var(--soft-white);
    color: var(--hard-gray);
    border-radius: 20rem;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow:  12px 12px 20px var(--hard-orange),
    -12px -12px 20px var(--orange);
    transition: box-shadow 0.2s ease-in-out;
    
    -webkit-font-smoothing:antialiased;
}

.series-home-media-sect .filter-button{
    all:unset;
    font-family: "Poppins";
    background-color: var(--soft-white);
    color: var(--hard-gray);
    border-radius: 20rem;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow:  12px 12px 20px var(--hard-yellow),
    -12px -12px 20px var(--yellow);
    transition: box-shadow 0.2s ease-in-out;
    
    -webkit-font-smoothing:antialiased;
}

.anime-home-media-sect .filter-button{
    all:unset;
    font-family: "Poppins";
    background-color: var(--soft-white);
    color: var(--hard-gray);
    border-radius: 20rem;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow:  12px 12px 20px var(--hard-green),
    -12px -12px 20px var(--green);
    transition: box-shadow 0.2s ease-in-out;
    
    -webkit-font-smoothing:antialiased;
}

.games-home-media-sect .filter-button{
    all:unset;
    font-family: "Poppins";
    background-color: var(--soft-white);
    color: var(--hard-gray);
    border-radius: 20rem;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow:  12px 12px 20px var(--hard-cyan),
    -12px -12px 20px var(--cyan);
    transition: box-shadow 0.2s ease-in-out;
    
    -webkit-font-smoothing:antialiased;
}

.movies-home-media-sect .filter-button{
    all:unset;
    font-family: "Poppins";
    background-color: var(--soft-white);
    color: var(--hard-gray);
    border-radius: 20rem;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow:  12px 12px 20px var(--hard-purple),
    -12px -12px 20px var(--purple);
    transition: box-shadow 0.2s ease-in-out;
    
    -webkit-font-smoothing:antialiased;
}

 
.books-home-media-sect .filter-button:hover {
    box-shadow:  8px 8px 16px var(--hard-red),
                -8px -8px 16px var(--red);
  }  

  .manga-home-media-sect .filter-button:hover {
    box-shadow:  8px 8px 16px var(--hard-orange),
                -8px -8px 16px var(--orange);
  }

  .series-home-media-sect .filter-button:hover {
    box-shadow:  8px 8px 16px var(--hard-yellow),
                -8px -8px 16px var(--yellow);
  }

  .anime-home-media-sect .filter-button:hover {
    box-shadow:  8px 8px 16px var(--hard-green),
                -8px -8px 16px var(--green);
  }

  .games-home-media-sect .filter-button:hover {
    box-shadow:  8px 8px 16px var(--hard-cyan),
                -8px -8px 16px var(--cyan);
  }

  .movies-home-media-sect .filter-button:hover {
    box-shadow:  8px 8px 16px var(--hard-purple),
                -8px -8px 16px var(--purple);
  }

  .books-home-media-sect .filter-button:active {
    box-shadow: inset 8px 8px 16px var(--hard-shadow-white),
              inset -8px -8px 16px var(--soft-white);
  }

  .manga-home-media-sect .filter-button:active {
    box-shadow: inset 8px 8px 16px var(--hard-shadow-white),
              inset -8px -8px 16px var(--soft-white);
  }

  .series-home-media-sect .filter-button:active {
    box-shadow: inset 8px 8px 16px var(--hard-shadow-white),
              inset -8px -8px 16px var(--soft-white);
  }

  .anime-home-media-sect .filter-button:active {
    box-shadow: inset 8px 8px 16px var(--hard-shadow-white),
              inset -8px -8px 16px var(--soft-white);
  }

  .games-home-media-sect .filter-button:active {
    box-shadow: inset 8px 8px 16px var(--hard-shadow-white),
              inset -8px -8px 16px var(--soft-white);
  }

  .movies-home-media-sect .filter-button:active {
    box-shadow: inset 8px 8px 16px var(--hard-shadow-white),
              inset -8px -8px 16px var(--soft-white);
  }