@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --red: #FB4934;
  --orange: #FE8019;
  --yellow: #FABD2F;
  --green: #B8BB26;
  --aqua: #8EC07C;
  --cyan: #83A598;
  --purple: #D3869B;
}  

.books{
  color: #FB4934;
  fill: #FB4934;
  stroke: #FB4934;
  text-decoration-color: #FB4934;
}

.series{
  color: #FABD2F;
  fill: #FABD2F;
  stroke: #FABD2F;
  text-decoration-color: #FABD2F;
}

.manga{
  color: #FE8019;
  fill: #FE8019;
  stroke: #FE8019;
  text-decoration-color: #FE8019;
}

.anime{
  color: #B8BB26;
  fill: #B8BB26;
  stroke: #B8BB26;
  text-decoration-color: #B8BB26;
}

.games{
  color: #83A598;
  fill: #83A598;
  stroke: #83A598;
  text-decoration-color: #83A598;
}

.movies{
  color: #D3869B;
  fill: #D3869B;
  stroke: #D3869B;
  text-decoration-color: #D3869B;
}

/* #================= END GENERAL ===================# */

/* #================= LIST ELEMENT ===================# */

.list-element{
  margin-top: 1vh;
  background-color: #FBFBFB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow:  8px 8px 16px #d9d9d9,
             -8px -8px 16px #ffffff;
}

/* #============ COUNTER ==============# */

.counter-containter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
}

.counter-num{
  font-weight: 500;
  margin-right: 1.5vw;
}

/* #========== END COUNTER ============# */

/* #========== TITLE SPACE ============# */

.title-space{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 100%; /* Ensure title doesn't overflow beyond container */
  min-width: 80%;
  margin-left: 1.5vw;
}


.title{
  color: black;
  font-weight: 500;
  font-size: clamp(1em, 3vw, 1.4em);
  margin-right: 0.5vw;
  white-space: nowrap; /* Prevents the title from wrapping */
  overflow: hidden; /* Hides any overflowed text */
  text-overflow: ellipsis; /* Adds ellipsis (...) when the text overflows */
  max-width: 75%; /* Ensure title doesn't overflow beyond container */
}

.author{
  font-size: 0.8em;
  color: #8A8A8A;
  font-style: italic;
  white-space: nowrap; /* Prevents the title from wrapping */
  overflow: hidden; /* Hides any overflowed text */
  text-overflow: ellipsis; /* Adds ellipsis (...) when the text overflows */
  padding-right: 0.2vw;
  max-width: 25%;
}

/* #======== END TITLE SPACE ==========# */

/* #========== PROGRESS BAR ============# */
.add-page{
  stroke: none;
}

.progress-counter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4vw;
}

.progress-counter button{
  all:unset;
}

.progress-num{
  font-weight: 500;
  font-family: "IBM Plex Mono", monospace;
  color: black;
}

/* #======== END PROGRESS BAR ==========# */

/* #========== STATUS ============# */
.status-field-container{
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 4vw; 
}

.status{
  font-weight: 500;
  font-size: 1em;
}

.dropped{
  opacity: 0.7;
  text-decoration: line-through;
  color: #000000;
}

.on-hold{
  opacity: 0.7;
  text-decoration: dotted underline;
}

.planned{
  color: #000000;
  text-decoration: wavy underline;
}

.completed{
  text-decoration: line-through;
}

/* #======== END STATUS ==========# */

/* #========== TAGS ============# */

.element-field-container {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-right:3vw;
}

.field-tag{
  font-size: 0.9em;
  color: #8A8A8A;
  font-style: italic;
}
.field{
  font-weight: 500;
  font-size: 1em; 
  color: black;
  margin-right: 2vw;
}

/* #======== END TAGS ==========# */

/* #========= LAYOUT ===========# */

.left-side-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  overflow: hidden; /* Hides overflowing content */
}

.right-side-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.center-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

/* #======= END LAYOUT =========# */