.books{
  color: var(--red);
  fill: var(--red);
  stroke: var(--red);
  text-decoration-color: var(--red);
}

.series{
  color: var(--yellow);
  fill: var(--yellow);
  stroke: var(--yellow);
  text-decoration-color: var(--yellow);
}

.manga{
  color: var(--orange);
  fill: var(--orange);
  stroke: var(--orange);
  text-decoration-color: var(--orange);
}

.anime{
  color: var(--green);
  fill: var(--green);
  stroke: var(--green);
  text-decoration-color: var(--green);
}

.games{
  color: var(--cyan);
  fill: var(--cyan);
  stroke: var(--cyan);
  text-decoration-color: var(--cyan);
}

.movies{
  color: var(--purple);
  fill: var(--purple);
  stroke: var(--purple);
  text-decoration-color: var(--purple);
}

/* #================= END GENERAL ===================# */

/* #================= LIST ELEMENT ===================# */

.list-element{
  margin-top: 1vh;
  background-color: var(--soft-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow:  8px 8px 16px var(--soft-shadow-white),
             -8px -8px 16px var(--white);
}

/* #============ COUNTER ==============# */

.counter-containter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
}

.counter-num{
  font-weight: 500;
  margin-right: 1.5vw;
}

.counter-dot{
  background-color: transparent;
}

/* #========== END COUNTER ============# */

/* #========== TITLE SPACE ============# */

.title-space{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 100%; /* Ensure title doesn't overflow beyond container */
  min-width: 80%;
  margin-left: 1.5vw;
}


.title{
  color: black;
  font-weight: 500;
  font-size: clamp(1em, 3vw, 1.4em);
  margin-right: 0.5vw;
  white-space: nowrap; /* Prevents the title from wrapping */
  overflow: hidden; /* Hides any overflowed text */
  text-overflow: ellipsis; /* Adds ellipsis (...) when the text overflows */
  max-width: 75%; /* Ensure title doesn't overflow beyond container */
}

.author{
  font-size: 0.8em;
  color: var(--gray);
  font-style: italic;
  white-space: nowrap; /* Prevents the title from wrapping */
  overflow: hidden; /* Hides any overflowed text */
  text-overflow: ellipsis; /* Adds ellipsis (...) when the text overflows */
  padding-right: 0.2vw;
  max-width: 25%;
}

/* #======== END TITLE SPACE ==========# */

/* #========== PROGRESS BAR ============# */
.add-page{
  stroke: none;
  margin-right: 0.5vw;
  background-color: transparent;
}

.progress-counter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4vw;
}

.progress-counter button{
  all:unset;
}

.progress-num{
  font-weight: 500;
  font-family: "IBM Plex Mono", monospace;
  color: black;
  margin-right: 0.5vw;
  min-width: 5vw;
  text-align: center;
}

/* #======== END PROGRESS BAR ==========# */

/* #========== STATUS ============# */
.status-field-container{
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 4vw; 
}

.status{
  font-weight: 500;
  font-size: 1em;
}

.dropped{
  opacity: 0.7;
  text-decoration: line-through;
  color: #000000;
}

.on-hold{
  opacity: 0.7;
  text-decoration: dotted underline;
}

.planned{
  color: #000000;
  text-decoration: wavy underline;
}

.completed{
  text-decoration: line-through;
}

/* #======== END STATUS ==========# */

/* #========== TAGS ============# */

.element-field-container {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-right:3vw;
}

.field-tag{
  font-size: 0.9em;
  color: var(--gray);
  font-style: italic;
}
.field{
  font-weight: 500;
  font-size: 1em; 
  color: black;
  margin-right: 2vw;
}

/* #======== END TAGS ==========# */

/* #========= LAYOUT ===========# */

.left-side-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  overflow: hidden; /* Hides overflowing content */
}

.right-side-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.center-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

/* #======= END LAYOUT =========# */